<div class="container">
  <div class="row">
    <div class = "col-xl-3 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3; width: 50%;">投稿詳細</h4>
      <div class = "mt-4">
        <%= image_tag @post.image, style: "width: 120px; height: 120px;"%>
      </div>
    </div>
    <div class = "col-xl-5 offset-xl-1 mt-5">
      <table class = "table">
        <tr>
          <th>お祭り名</th>
          <td>
            <%=@post.matsuri_name %>
          </td>
        </tr>
        <tr>
          <th>開催地域</th>
          <td><%= JpPrefecture::Prefecture.find(@post.area).name %></td>
        </tr>
        <tr>
          <th>開催月</th>
          <td><%=@post.season %>月</td>
        </tr>
        <tr>
         <tr>
          <th>記事</th>
          <td><%=@post.article %></td>
        </tr>
        <tr>
          <th>関連タグ</th>
          <td>
            <% @tags.each do |tag| %>
              <%= tag.tag_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>レビュー件数</th>
          <td>
            <%= link_to post_reviews_path(@post.id) do %>
              <%= @post_reviews.count %>件
            <% end %>
          </td>
        </tr>
        <tr>
          <th>総合評価</th>
          <td>
            <% if @post_reviews.exists? %>
              <%= @post_reviews.average(:star).round(0).to_f %>点
              <div id="average-star"></div>
            <% else %>
              評価がありません
            <% end %>
          </td>
        </tr>
      </table>
      <div class = "mt-5">レビュー投稿</div>
      <%= form_with model: @review, url: post_reviews_path(@post.id), method: :post do |f| %>
      <div class="form-group d-flex align-items-center mt-4">
        <div style = "width: 20%;">
          <label>タイトル</label>
        </div>
        <%= f.text_field :title ,class: "form-control name", style: "width: 80%;" %>
      </div>
      <div class="form-group d-flex align-items-center">
        <div style = "width: 20%;">
          <label>本文</label>
        </div>
        <%= f.text_area :text ,class: "form-control introduction", style: "width: 80%;" %>
        <%= f.hidden_field :post_id, value: @post.id %>
      </div>
      <div class = "row">
        <div class = "col-md-3">星評価</div>
        <div class="col-md-9" id="star">
          <%= f.hidden_field :star, id: :review_star %>
        </div>
      </div>
      <%= f.submit 'レビュー投稿' ,class: "btn btn-success mt-4" %>
      <% end %>
      <script>
        $('#star').empty();
        var elem = document.querySelector("#star");
        var opt = {
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[star]',
          half: true,
        }
        raty(elem,opt)

        var averageStarElem = document.querySelector("#average-star");
        if (averageStarElem) {
          $('#average-star').empty();
          var averageStarOpt = {
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post_reviews.average(:star).to_f.round(0) %>
          }
          raty(averageStarElem, averageStarOpt)
        }
      </script>