<div class="row">
  <div class = "col-xl-8 offset-xl-2 mt-4">
    <H4 style = "background-color: #d3d3d3; width: 15%">レビュー履歴一覧</H4>
      <table class = "table mt-4">
        <thead>
          <tr>
            <th>お祭り名</th>
            <th>タイトル</th>
            <th>投稿日時</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td><%= review.post.matsuri_name %></td>
            <td><%= review.title %></td>
            <td><%= review.created_at %></td>
            <td>
              <%= link_to edit_admin_user_review_path(@user.id, review.id) do %>
                <%= submit_tag '編集する' ,class: "btn btn-primary ml-5" %>
              <% end %>
            </td>
            <td>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
