<div class="row">
  <div class = "col-xl-8 offset-xl-2 mt-4">
    <H4 style = "background-color: #d3d3d3; width: 15%">レビュー履歴一覧</H4>
      <table class = "table mt-4">
        <thead>
          <tr>
            <th>お祭り名</th>
            <th>タイトル</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% if @user.id == current_user.id %>
          <% @reviews.each do |review| %>
          <tr>
            <td><%= review.post.matsuri_name %></td>
            <td><%= review.title %></td>
            <td><%= l review.created_at %></td>
            <td>
              <%= link_to admin_user_review_path(@user.id, review.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <%= submit_tag '削除する' ,class: "btn btn-danger ml-5" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% else %>
        <% end %>
        </tbody>
      </table>
