<div class="container">
  <div class="row">
    <div class = "col-xl-6 mt-4">
      <h4 style = "background-color: #d3d3d3; width: 30%;">レビュー編集</h4>
    </div>
  </div>
  <div class="row">
    <div class = "col-xl-6 offset-xl-3">
      <div style = "color :#FF0000; ">
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model: @review, url: user_review_path(@user.id,@review.id), method: :patch do |f| %>
      <div class="form-group d-flex align-items-center">
        <div style = "width: 20%;">
          <label>タイトル</label>
        </div>
        <%= f.text_field :title, style: "width: 80%;" %>
      </div>
      <div class="form-group d-flex align-items-center">
        <div style = "width: 20%;">
          <label>本文</label>
        </div>
        <%= f.text_area :text, style: "width: 80%;" %>
      </div>
      <div class="form-group d-flex align-items-center">
        <div style = "width: 20%;">
          <label>星評価</label>
        </div>
        <div class="col-md-9" id="star">
          <%= f.hidden_field :star, id: :review_star %>
        </div>
      </div>
      <div class = "text-center">
        <%= f.submit '変更を保存' ,class: "btn btn-success mt-4" %>

      </div>
      <% end %>
    </div>
  </div>
  <script>
        //$('#star').empty();
        var elem = document.querySelector("#star");
        var opt = {
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[star]',
          half: true,
        }
        raty(elem,opt)
  </script>
</div>