<div class="container">
  <div class="row">
    <div class = "col-xl-4 offset-xl-1 mt-4 mb-4">
      <h4 style = "background-color: #d3d3d3; width: 50%;">レビュー一覧</h4>
    </div>
  </div>
  <% @reviews.each do |review| %>
    <div class="row">
      <div class = "col-md-2 offset-md-1 mt-4">
        <%= image_tag review.user.image, style: "width: 100px; height: 100px;"%>
        <%= review.user.name %>さん
      </div>
      <div class="col-md-6 mb-3">
        <p>投稿日: <%= l review.created_at %></p>
        <h5 class = "mt-4">評価:<%= review.star %>点 | <%= review.title %></h5>
        <div id="star-<%= review.id %>"></div>
        <h5><%= review.text %></h5>
        <script>
          $('#star-<%= review.id %>').empty();
          var elem = document.querySelector("#star-<%= review.id %>");
          var opt = {
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            // scoreName: 'review[star]',
            half: true,
            readOnly: true,
            score: <%= review.star %>,
          }

          raty(elem,opt)
        </script>
      </div>
    </div>
  <% end %>
  <%= link_to post_path(params[:post_id]), class: "btn btn-success mt-3" do %>
    投稿詳細に戻る
  <% end %>
</div>
