<div class="container">
  <div class="row">
    <div class = "col-xl-3 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3; width: 50%;">投稿詳細</h4>
      <div class = "mt-4">
        <%= image_tag @post.image, style: "width: 120px; height: 120px;"%>
      </div>
    </div>
    <div class = "col-xl-5 offset-xl-1 mt-5">
      <table class = "table">
        <tr>
          <th>お祭り名</th>
          <td><%=@post.matsuri_name %></td>
        </tr>
        <tr>
          <th>開催地域</th>
          <td><%= JpPrefecture::Prefecture.find(@post.area).name %></td>
        </tr>
        <tr>
          <th>開催月</th>
          <td><%=@post.season %></td>
        </tr>
        <tr>
          <th>記事</th>
          <td><%=@post.article %></td>
        </tr>
        <tr>
          <th>関連タグ</th>
            <td>
              <%= form_with model: @post, url: admin_update_tag_path(@post.id), method: :patch do |f| %>
                <%= f.text_field :tag_name,value: @tag_list,class:"form-control"%>
                <%= f.submit 'タグ追加' ,class: "btn btn-success" %>
                <div class = "tag-area">
                  <%= render 'admin/posts/form_update_tag', post: @post %>
                </div>
              <% end %>
            </td>
        </tr>
      </table>
      <%= link_to edit_admin_post_path(@post.id), class: "btn btn-success mt-3" do %>
        編集する
      <% end %>
    </div>
  </div>
<div>