<!DOCTYPE html>
<html>
  <head>
    <title>Matsublo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "d-flex flex-column vh-100">
    <header class = "shadow-sm">
      <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <div class = "container">
          <% if user_signed_in? %>
          <div class = "navbar-brand text-center">
            <span>LOGO</span>
            ようこそ、<%= current_user.name %>さん！
          </div>
          <% else %>
            <span>LOGO</span>  
        </div>
      </nav>
      
    </header>
    <%= yield %>
  </body>
</html>
